fastapi==0.122.0
uvicorn==0.38.0
python-multipart==0.0.22
google-generativeai==0.8.5
python-dotenv==1.2.1
edge-tts==7.2.7
groq==1.1.1
python-jose==3.5.0
librosa==0.11.0
numpy==2.2.6
passlib==1.7.4
bcrypt==5.0.0
pydantic==2.12.4
SQLAlchemy==1.4.54
PyMySQL==1.1.2
